/* CSS for AutocompleteComponent.java */

@def maxHeight 300px;

.container {
  box-sizing: border-box;
}

.items {
  border-width: 0;
  border-spacing: 0;
  width: 100%;
}

.hint {
  overflow-x: hidden;
  font-size: 11px;
  font-family: arial, sans-serif;
  color: #666;
  background-color: #F7F7F7;
  border-top: solid 1px #ECECEC;
  text-align: center;
  line-height: 16px;
  padding: 0 3px;
}

.proposalLabel {
  max-width: 400px;
}

.cappedProposalLabel {
  color: #999;
}

.proposalGroup {
  padding-left: 5px;
  color: grey;
  text-align: right;
  max-width: 250px;
}
