.container {
  position: absolute;
  z-index: 10;
  padding: 15px 25px 15px 15px;

  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px #E9E9E9;
  border-radius: 3px;
  border-top-left-radius: 0px;
}

.container > div + div {
  margin-top: 10px;
}

.radio {
  margin-right: 10px;
}

.stackedContainer {
  display: inline-block;
  vertical-align: top;
}

.smallPreviewText {
  color: gray;
  font-size: smaller;
  line-height: 11px;
}

.alwaysRunRow {
  line-height: 35px;
}

.alwaysRunLabel {
  display: inline-block;
  min-width: 75px;

  box-sizing: border-box;
  padding-right: 5px;
  text-align: right;
}

.alwaysRunInput {
  width: 250px;
}

.alwaysRunUrl {
  padding-top: 5px;
  /* Dirty */
  padding-left: 78px;
}

.appUrlLabel {
  color: gray;
}

.stayActive {
  opacity: 1.0;
}

@sprite .listItem {
  gwt-image: 'appengineSmall';
  background-position: 5px;
  
  width: auto;
  height: auto;
  padding-left: 30px;
  -webkit-user-select: none;
}

.autocompleteFolder {
  color: #AAA;
}
