.base {
  position:absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border: 1px solid #E5E5E5;
  background: #fff;
  border-radius: 8px;
  text-align: center;
}

.center {
  position: relative;
  margin-top: 15%;
}

.text {
  font-family: alternativeFontFamily;
  color: #333;
  font-size: 12px;
  line-height: 1.3em;
  display: inline;
}

.bigger {
  font-size: 14px;
  font-weight: bold;
  display: inline;
}

@sprite .logo {
  gwt-image: 'editorLogo';
  margin-bottom: 15px;
  display: inline-block;
}
