.root {
  position: absolute;
  z-index: popupZIndex;
  background-color: white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 2px 2px 10px #333;
  box-shadow: 2px 2px 10px #333;
  font-size: secondaryTextFontSize;
  padding: 5px 8px;
  margin: 0;
  max-width: 300px;
  max-height: 300px;
  overflow: auto;
}

.contentHolder {
}
