@def menuListBorderPx 0px;

.anchor {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  
  display: block;
}

.listItem[selected] {
  color: #D14836;
}

.listItem {
  color: #333;
  line-height: 29px;
  font-size: 13px;
  border-bottom: 1px solid transparent;
  padding-left: 10px;
}

.listItem:hover {
  background-color: #EEE;
}

.listBase {
  list-style: none;
  padding-left: 0;
}

.listContainer {
}