/* Global styles and external GWT styles. */

body,td {
  font-size: 13px;
  font-family: arial, sans-serif;
  color: #222;
  
  /* We turn off document level scrolling all together for the outer page. */
  overflow: hidden;
}

/* We must override the user agent stylesheet which sets textarea font to monospace. */
textarea {
  font-family: inherit;
}


#talk_roster {
  display: none;
}

a {
  outline: none;
}
