.tooltipPosition {
  position: absolute;
  display: inline-block;
  z-index: tooltipZIndex;
  pointer-events: none;
}

.tooltip {
  background: -webkit-linear-gradient(top, #515151, #0C0C0C);
  background: -moz-linear-gradient(top, #515151, #0C0C0C);
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 2px 2px 10px #333;
  box-shadow: 2px 2px 10px #333;
  color: #FFFFFF;
  font-size: 11px;
  padding: 5px 8px;
  display: inline-block;
  position: relative;
  margin: 0;
  max-width: 200px;
}

/*
 * Imageless triangles can be made using only css by adding a large border on one side,
 * then transparent borders on the two adjacent sides.
 */
.triangle {
  position: absolute;
  width: 0px;
  height: 0px;
}

.tooltipBelow {
  margin-top: 7px;
}
.tooltipBelow > .triangle {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #515151;
  border-top: 0;
  left: 50%;
  top: -5px;
  margin-left: -4px;
}

/* A tooltip that is below but right aligned */
.tooltipBelowRightAligned {
  margin-top: 7px;
}

.tooltipBelowRightAligned > .triangle {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #515151;
  border-top: 0;
  right: 2px;
  top: -5px;
  margin-left: -4px;
}

.tooltipAbove {
  margin-top: -7px;
}

.tooltipAbove > .triangle {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #0C0C0C;
  border-bottom: 0;
  left: 50%;
  bottom: -5px;
  margin-left: -4px;
}

.tooltipRight {
  margin-left: 7px;
}

.tooltipRight > .triangle {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #2E2E2E;
  border-left: 0;
  top: 50%;
  bottom: -5px;
  margin-top: -4px;
  left: -5px;
}

.tooltipLeft {
  margin-right: 7px;
}

.tooltipLeft > .triangle {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #2E2E2E;
  border-right: 0;
  top: 50%;
  bottom: -5px;
  margin-top: -4px;
  right: -5px;
}
