@def horizontalPadding 20px;
@def verticalPadding 15px;
@def borderRadius 3px;
@def overhangWidth 26px;
@def overhangOffsetY -20px; /* overhang is 20 px tall */
@def overhangOffsetX 131px;
@def overlayHeight 210px;
@def overlayWidth 300px;

.base {
  position: absolute;
  background-color: white;
  display: inline-block;
  z-index: 101;
  width: overlayWidth;
  height: overlayHeight;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 1px 8px #ccc;
  box-shadow: 0 1px 8px #ccc;
  overflow: visible;
  color: #888;
}

@sprite .overhangTop {
  gwt-image: 'overhang_top';
  position: absolute;
  top: overhangOffsetY;
  left: overhangOffsetX;
}

.nameLabel {
  margin-left: horizontalPadding;
  margin-top: verticalPadding;
}

.descriptionLabel {
  position: absolute;
  left: horizontalPadding;
  top: 75px;
}

.nameInput, .descriptionInput {
  width: 248px;
}

.nameInput {
  position: absolute;
  left: horizontalPadding;
  top: 35px;
}

.descriptionInput {
  position: absolute;
  left: horizontalPadding;
  top: 90px;
  max-height: 48px;
  max-width: 248px;
}

.buttonBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  padding-left: 20px;
}