.moveCursor, .moveCursor * {
  cursor: move;
}

.horizontalCursor * {
  cursor: ew-resize !important;
}

.verticalCursor * {
  cursor: ns-resize !important;
}

.northwestCursor * {
  cursor: nw-resize !important;
}

.northeastCursor * {
  cursor: ne-resize !important;
}

.southwestCursor * {
  cursor: sw-resize !important;
}

.southeastCursor * {
  cursor: se-resize !important;
}

.verticalCursor * {
  cursor: ns-resize !important;
}

.hSplitter {
  cursor: ew-resize;
}

.vSplitter {
  cursor: ns-resize;
}

.neSplitter {
  cursor: ne-resize;
}

.nwSplitter {
  cursor: nw-resize;
}

.seSplitter {
  cursor: se-resize;
}

.swSplitter {
  cursor: sw-resize;
}

.elementResizing {
  /* Remove transitions from the element while it is being resized,
   * otherwise our programmatic setting of the CSS properties will
   * not get their target value right away, which is something we
   * rely on. */
  -webkit-transition: none !important;
  -moz-transition: none !important;
}
