@sprite .emptyFolder {
  gwt-image: "emptyFolderIcon";
}

@sprite .folder {
  gwt-image: "closedFolderIcon";
}

@sprite .folderOpen {
  gwt-image: "openFolderIcon";
}

@sprite .folderLoading {
  gwt-image: "folderLoading";
}

@sprite .cssIcon {
  gwt-image: 'cssIcon';
}

@sprite .htmlIcon {
  gwt-image: 'htmlIcon';
}

@sprite .jarIcon {
  gwt-image: 'jarIcon';
}

@sprite .javaIcon {
  gwt-image: 'javaIcon';
}

@sprite .javascriptIcon {
  gwt-image: 'javascriptIcon';
}

@sprite .packageIcon {
  gwt-image: 'packageIcon';
}

@sprite .emptyPackageIcon {
  gwt-image: 'emptyPackageIcon';
}

@sprite .xmlIcon {
  gwt-image: 'xmlIcon';
}

@sprite .file {
  gwt-image: "file";
}

.root {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.icon {
  margin: 0px 0px -1px 5px;
  display: inline-block;
  background-position: center center;
}

.label, .nodeNameInput {
  font-family: fileTreeFontFamily;
  font-size: secondaryTextFontSize;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.label {
  padding: 0px 5px 0px 6px;
  cursor: default;
  vertical-align: top;
}

.nodeNameInput {
  border: 1px solid #D9D9D9;
  border-top: 1px solid #C0C0C0;
}
