.container {
  margin-left: 5px;
  margin-right: 5px;
  overflow-y: auto;
  height: 100%;
}

@sprite .next {
  gwt-image: 'nextPage';
  cursor: pointer;
  display: inline-block;
}

.otherpage {
  margin: 1em;
  color: blue;
  cursor: pointer;
}

.pager {
  margin-top: 2em;
  text-align: center;
  width: 100%;
}

@sprite .previous {
  gwt-image: 'prevPage';
  cursor: pointer;
  display: inline-block;
}

.second {
  margin-top: 2em;
}

.snippet {
  cursor: pointer;
}

.thispage {
  margin: 1em;
  color: black;
}

.title {
  font-size: large;
  color: blue;
  cursor: pointer;
}