.headerContainer {
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  vertical-align: middle;
}
.header, .icons, .controls{
 vertical-align: middle;
 height: 100%;
 display: inline-block;
}
.header{
 margin: 0px;
 white-space: nowrap;
 height: 25px;
 padding-right: 35px;
}

.close{
	vertical-align: middle;
	width: 15px;
	cursor: pointer;
} 

@sprite .close {
	gwt-image: "close";
} 

.topHeader, .controls {
	/* TODO make this the icon height */
	height: 32px;
}

.bottomHeader > div {
	display: inline-block;
	width: 30%;
}

.controls {
 position: absolute;
 right: 5px;
 top: 0px;
 width: 35px;
}

.icons{
}

@sprite .gwt {
  gwt-image: "gwt";
}

@sprite .reloadIcon {
  gwt-image: "reload";
}

@sprite .gear {
  gwt-image: "gear";
}

@sprite .radarGreen {
  gwt-image: "radarGreenAnim";
}

@sprite .success {
  gwt-image: "radarGreenSmall";
}

@sprite .radarRed {
  gwt-image: "radarRedAnim";
}

@sprite .fail {
  gwt-image: "radarRedSmall";
}

@sprite .radarYellow {
  gwt-image: "radarYellowAnim";
}
@sprite .warn {
  gwt-image: "radarYellowSmall";
}

.reloadIcon, .radarGreen, .radarRed, .radarYellow, .success, .warn, .fail, .gear  {
  cursor: pointer;
  display: inline-block;
}
